<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增商品</title>
</head>

<body>
    anta新增商品
    <form action="/anta" method="POST">
        <label for="">商品编号</label>
        <p><input type="text" name="pid"></p>
        
        <label for="">商品价格</label>
        <p><input type="text" name="pprice"></p>
        <label for="">商品描述</label>
        <p><input type="text" name="pdesc"></p>
        <p><input type="submit" value="提交"></p>
    </form>
</body>

</html>